{% extends "base/components/layout_admin.html" %}

{% block title %}Gestion de la page d'accueil{% endblock %}

{% block admin_content %}   
    <h1>Gestion de la page d'accueil</h1>

    <div>
        total déclarée(s) : {{home_pages_len}}
        |
        <a href="/admin/settings/home_page_clear" class="btn">rénitialiser</a>

    </div>
    <div>
        acitive : {{home_page_on}}
    </div>
    <div>
        {% for home_page in home_pages %}
            <div>
                <p>{{home_page}}</p>
                <div>
                    <a href="/admin/settings/home_page/{{ home_page }}/on" class="btn">definir comme page d'accueil</a>
                </div>
            </div>
        {% endfor %}
    </div>

    <div id="app">
        <h-a4>
            <h-a></h-a>
        </h-a4>
    </div>

    <template id="tpl">
        <p>page 4</p>

        <slot></slot>
    </template>

    <script src="/static_templates_melodijs/base/demo.js"></script>

{% endblock %}