{% extends "base/components/layout_admin.html" %}

{% block title %}Gestion des modules{% endblock %}

{% block admin_content %}
<div class="card">
  <div class="card-body">
    <div class="d-flex justify-content-between align-items-center mb-3">
      <h5 class="mb-0">Modules : {{ modules_len }} </h5>
      <a href="/admin/add_module" class="btn btn-dark btn-sm">+ Ajouter</a>
    </div>

    <ul class="list-group">
      {% for module in modules %}
        <li class="list-group-item d-flex justify-content-between align-items-center">
          <div>
            <div>
              <img src="/static/{{module.name}}/icon.png" alt="" style="width: 60px;">
              <span style="font-weight: bold;">{{ module.infos.name }} </span>
            </div>
          
            <div>{{ module.infos.title }} </div>
            <!-- Button trigger modal -->
            <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#module_{{module.name}}">
              détails
            </button>

            <!-- Modal -->
            <div class="modal fade" id="module_{{module.name}}" tabindex="-1" aria-labelledby="module_{{module.name}}" aria-hidden="true">
              <div class="modal-dialog modal-dialog-scrollable">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    <div>
                      <img src="/static/{{module.name}}/banner.png" alt="" style="width: 100px;">
                    </div>
                    <div>nom: {{ module.infos.name }}</div>
                    <div>titre: {{ module.infos.title }}</div>
                    <div>version: {{ module.infos.version }}</div>
                    <p>{{ module.infos.description }}</p>
                    <div>{{ module.infos.depends }}</div>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div>
            {% if module.enabled %}
              <span class="badge bg-success me-2">Actif</span>
              <a class="btn btn-sm btn-outline-danger" href="{{'/admin/modules/'+module.name+'/off'}}">Désactiver</a>
              <span class="m-2">|</span>
              <a class="btn btn-sm btn-outline-secondary" href="{{'/admin/modules/'+module.name}}">Gérer</a>
            {% else %}
              <span class="badge bg-warning text-dark me-2">Désactivé</span>
              <a class="btn btn-sm btn-outline-success" href="{{'/admin/modules/'+module.name+'/on'}}">Activer</a>
            {% endif %}
          </div>
        </li>
      {% endfor %}

      <li>
        <a href="/admin/add_module" class="btn btn-dark w-100">+ Installer un module</a>
      </li>
    </ul>
  </div>
</div>
{% endblock %}
